
/* Base Styles */
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4em;
  color: #222;
  background: #474747;
  font-family: 'Lato', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  /*border-radius: 3px;*/
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Grid */

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}


/* Header & Navigation */

header{
  max-width: 100%;
  background: #222; /*FallBack*/
  background: rgba(0,0,0,.6);
  /*padding: 20px;*/
}

nav{
  /*width: 100%;
  margin-bottom: 1em;
  background: #323232;
  font-family: 'Poiret One', cursive;*/
}

.logo{
  text-align: center;
  color: #fff;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Poiret One', cursive;
}

ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  text-align: center;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.nav-item{
  display: inline-block;
  padding: 20px;
  font-size: 1.4em;
  -webkit-transition: background .5s;
  transition: background .5s
}

.nav-item:hover{
  background: #474747;
  cursor: pointer;
}

.menu-bar{
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #2d2d2d;
  text-align: left;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
  display: none;
}

.hamburger-icon{
  float: right;
  clear: both;
  margin-top: -5px;
  font-size: 1.4em;
}

/* projekt Posts */

.container{
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
}

.projekt-post{
  background: #fff;
  margin: 0 auto 2em auto;
  padding: 35px 30px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.side-post{
  background: #fff;
  margin: 0 auto 1.5em auto;
  width: 15em;
  padding: 20px;
}

.projekt-content{
  font-size: 1em;
  border-left: 5px solid #8EE5EE;
  padding-left: 15px;
}

.side-content{
  text-align: center;
}

.projekt-title{
  font-size: 2em;
  margin-top: 5px;
}

.date{
  font-size: 1em;
  font-weight: 400;
  color: #9C9C9C;
  margin-top: -10px;
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.post-link{
  color: #009ACD;
  font-style: italic;
  transition: all 0.4s;
}

.post-link:hover{
  color: #005c7b;
  text-decoration: underline;
  text-decoration-color: currentColor;
  cursor: pointer;
}

/* Button */

.button{
  display: block;
  padding: 15px 20px;
  margin-top: .8em;
  background: #009ACD;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  border-radius: 3px;
  transition: all .4s ease-in;
}

.category-button{
  display: initial;
  padding: 0px 0px;
  margin-top: .8em;
  background: #009ACD;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  border-radius: 3px;
  transition: all .4s ease-in;
}

.button:hover{
  background: #005c7b;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

input{
  float: right;
}

.menu {
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu > a{
  text-align: center;
  font-weight:bold;
  font-size:20px;
  color: #5a5a5a;
  cursor: pointer;
  padding: 10px;
  background-color: #F1F0F7;
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all .2s ease-in;
  border-top-style: solid;
  border-top-width: 5px;
}
.menu > a:hover{
  font-size: 25px;
  border-top-style: solid;
  border-top-width: 10px;
}

.category-button{
  flex: 1;
  margin: 0px 5px 20px 5px;
}

.category-button:hover{
  color: #FFFFFF;
}

.admin-button{
  flex: 1;
  margin: 0px 5px 20px 5px;
}

.admin-button:hover{
  color: #FFFFFF;
}

.admin-content{
  background: #fff;
  margin: 0 auto 2em auto;
  padding: 35px 30px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}



/*Projekt Erstellung*/

.createProject-post{
  line-height: 2.4em;
    background: #fff;
  margin: 0 auto 2em auto;
  padding: 35px 30px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
}




.group        {
  position:relative;
  bottom: 10px
}
.createProjectInput         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.createProjectInput:focus     { outline:none; }

.createProjectLabel          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.createProjectInput:focus ~ .createProjectLabel, .createProjectInput:valid ~ .createProjectLabel    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

.createProjectInput:focus ~ .bar:before, .createProjectInput:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.createProjectInput:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}


/* Hinzugefügt um Layout von "Layout und Theme verwalten" anzupassen
  *margin-Left im negativen ist als workaround!
*/
#menuLayoutTheme{
  margin-left: -20%;
  background-color:rgb(255, 99, 71);
  float: left;
}
#previewLayoutTheme{
  margin-left: 2%;
  float: left;
}


/* ende*/


/*Media Queries*/

/* @900px*/
@media only screen and (max-width: 56.25em) {
  .col{ margin: 1% 0 1% 0%;}
  .span_3_of_3, .span_2_of_3, .span_1_of_3{ width: 100%; }
  .side-post{ width: 42%;
         float: left;
         margin: -2% 0 1% 1.6%;}
}

/* @685px*/
@media only screen and (max-width: 42.813em) {
  .side-post{ width: auto;
        padding: 15px;
          margin: -2% auto 8% auto; }
  .projekt-title{ font-size: 1.95em; }
  .date{ font-size: .9em; }
}

/* @480px */
@media only screen and (max-width: 30em){
  nav ul{ max-height: 0; }
  .reveal{ max-height:19em; }
  nav ul .nav-item{ -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
                box-sizing: border-box;
            width:100%;
            padding: 15px; }

  .menu-bar{ display: block; }

}

/* @380px*/
@media only screen and (max-width: 23.75em) {
  .projekt-content, .post-link{ font-size: .9em; }
  .side-content{ font-size: .8em; }
  .button{ padding: 10px 15px; }
  .nav-item{ font-size: 1.2em; }
}
